.logo-container{
    width: 165px;
    height: 50px;
}

.button {
    width: auto;
    height: auto;
    padding: 5px 8px;
    border: none;
    cursor: pointer;
  }

  .active {
    background-color: #EDA836;
    border-radius: 22px;
  }

  .icon{
    width: 24px;
  }

 .icon:hover{
    width: 26px;
  } 

.counter{
    background-color: red;
    border-radius: 50%;
    width: 9px;
    height: 17px;
    color: white;
    font-size: 14px;
    padding: 1px;
    align-items: center;
    justify-content: center;
}